<div class="jumbotron" id="mainHeader">
  <div class="logInHeader">
    <app-register></app-register>
    <app-login style="padding-left: 10px;"></app-login>
  </div>
  <h1 class="display-4" style="text-align: center;">
      FastFood Guru API
  </h1>
  <div>
    <br>
    <p class="lead" style="text-align: center;">
      This is a simple application that allows you to read and write reviews for popular fast food chain restaurants. <br>
      Just search for a fast food chain to check the reviews. You need to log in to post a review. 
    </p>
  </div>
</div>
<app-home></app-home>
