#typeahead-input {
    width: max-content;
}
#typeahead-div {
    display: flex;
    justify-content: center;
}
#buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#show-button {
    margin-left: 10px;
}
#clear-button {
    margin-left: 10px;
}